html,
body,
p {
    margin: 0;
    padding: 0;
}

header {
    border-bottom: black 1px solid;
    padding: 10px;
    text-align: center;
    span {
        cursor: pointer;
        margin: 0 5px;
        &:hover {
            text-decoration: underline;
        }
    }
}

footer {
    border-top: black 1px solid;
    text-align: center;
    p {
        margin-top: 10px;
        a {
            &:visited {
                color: #6f6f6f;
            }
        }
    }
}

main {
    margin: 10px;
}

.about-container {
    margin: 1px 25em;
    >div {
        display: inline-block;
        margin: 0 25px;
        &:first-child {
            text-align: center;
        }
        &:last-child {
            vertical-align: top;
        }
    }
    img {
        border: 1px black solid;
        display: block;
        height: 20em;
        width: 15em;
    }
}