html, body, p {
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 10px;
  border-bottom: black 1px solid;

  span {
    cursor: pointer;
    margin: 0 5px;
    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  border-top: black 1px solid;
  text-align: center;
  p {
    margin-top: 10px;
    a {
      &:visited {
        color: #6f6f6f;
      }
    }
  }
}

main {
  margin: 10px;
}
